body    {
    font-family: 'Oswald', sans-serif;
}

header, footer {
    background-color: rgb(221, 217, 217);
    border-radius: 10px;
    margin: 15px;   
    
}

header {
    text-align: center;
    height: auto;
    align-items: center;
}

h1, .tribute-info {
    text-shadow: 2px 2px 2px rgb(122, 122, 122) ;
}

h1 {
    font-size: 50px;

}

img {
    display: block;
    margin: auto;
    max-width: 800px;
    height: auto;
    padding: 5px;   
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.40);
    border-radius: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20%;
    flex-direction: column;
}

div {
    display: flex;
    margin: 10px 20px;
    width: 90%;
}

strong {
    text-shadow: black;
    display: flex;
    width: auto;
    font-size: large;
    text-shadow: 2px 2px 2px rgb(161, 159, 159);
}

article {
    padding: 0px .5%;
    display: flex;
    width: 90%;
}

footer {
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 950px) {
    strong {
        width: 45px;
    }
    img {
       size: 100%;
       max-width: 90%; 
    }   
}

@media only screen and (max-width: 750px) {
    img {
        size: 100%;
        max-width: 90%;
    }
} 

@media only screen and (max-width: 550px) {
    img {
        size: 100%;
        max-width: 90%;
    }
} 

